.header-container {
    height:600px;
    background-image: url('https://i.ibb.co/mywRpgL/rsz-removing-old-bli-battery-from-disassembled-smartphone-replace-it-with-new-one-electronic-repairm.png');
    background-size: cover;
}
